.error{color:red}
#loader{
    z-index:999999;
    display:block;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:url('../images/page-loader.gif') 50% 50% no-repeat  rgba(0, 0, 0, 0.5);
   }
   